##########################
## Java
##########################
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
log/
build/

##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/


##########################
## OS X
##########################
.DS_Store


##########################
## Gradle
##########################
.gradle/